<form [formGroup]="editPostForm" (ngSubmit)="onSubmit()" >
    <h3 >Edit Post</h3>

    <hr>
    <div class="form-group">
        <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">

            <div *ngIf="editPostForm.get('title')?.touched && !editPostForm.get('title')?.valid">
                <div class="alert-danger" *ngIf=" editPostForm.controls.title.errors?.required">Title is
                    required</div>
                    <div class="alert-danger" *ngIf=" editPostForm.controls.title.errors?.minlength">minlength is
                        6</div>


            </div>

           
                
    
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="" id="" cols="15" rows="5" class="form-control" 
        formControlName="description"></textarea>

        <div *ngIf="editPostForm.get('description')?.touched && !editPostForm.get('description')?.valid">
            <div class="alert-danger" *ngIf=" editPostForm.controls.description.errors?.required">Description is
                required</div>
                <div class="alert-danger" *ngIf=" editPostForm.controls.description.errors?.minlength">minlength is
                    10</div>


        </div>
    </div>
    <button type="submit"  class="btn btn-primary mt-2" [disabled]="!editPostForm.valid">Submit</button>
</form>